<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
</head>
<body>
	<h1 id="scode"></h1>
	<div id="div_cou"></div><hr>
	<div id="div_enroll"></div>
</body>
<script id="temp_enroll" type="x-handlebars-template">
	<table border=1 width=500>
		{{#each .}}
		<tr>
			<td>{{lcode}}</td>
			<td>{{lname}}</td>
			<td>{{persons}}/{{capacity}}</td>
			<td><button>수강취소</button></td>
		</tr>	
		{{/each}}
	</table>		
</script>

<script id="temp_cou" type="x-handlebars-template">
	<select>
		{{#each .}}
			<option value="{{lcode}}">{{lcode}}:{{lname}}:{{persons}}/{{capacity}}</option>
		{{/each}}
	</select>
	<button>수강신청</button>	
</script>
	
<script>
	const scode="[[${scode}]]";
	$("#scode").html(scode + "의 수강신청");
	
	getList();
	function getList(){
		$.ajax({
			type:"get",
			url:"/stu/enroll/list.json/" + scode,
			success:function(data){
				const temp=Handlebars.compile($("#temp_enroll").html());
				$("#div_enroll").html(temp(data));
			}
		});
	}
	
	getCou();
	function getCou(){
		$.ajax({
			type:"get",
			url:"/cou/list.json",
			success:function(data){
				const temp=Handlebars.compile($("#temp_cou").html());
				$("#div_cou").html(temp(data));
			}
		});
	}
</script>
</html>